/* Start Variables */
:root {
  --main-color: #00c7fc;
  --transparent-bg-color: #0f748fcc;
  --overlay-bg-color: rgb(0 0 0 / 40%);
  --para-color: #777;
  --section-padding: 5rem;
  --para-line-height: 2;
  --border-radius: 6px;
  --main-duration: 0.3s;
}
/* End Variables */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.main {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

:where(
    a:focus-visible,
    button:focus-visible,
    input[type='submit']:focus-visible,
    [role='button']:focus-visible
  ) {
  outline: 2px solid var(--main-color);
  outline-offset: 4px;
}

.cover-image-container {
  position: absolute;
  inset: 0;
}

.cover-image-container .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--overlay-bg-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.swiper {
  --swiper-pagination-bullet-size: 16px;
  --swiper-theme-color: var(--main-color);
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Components */
.section-heading {
  text-align: center;
  margin-bottom: 5rem;
}

.section-heading h2 {
  font-size: 36px;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 4rem;
}

.section-heading h2::before {
  content: '';
  width: 120px;
  height: 2px;
  position: absolute;
  background-color: #333;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -30px;
}

.section-heading h2::after {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  border: 2px solid #333;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -38px;
}

.section-heading h2 + p {
  margin: 0 auto;
  width: min(100%, 450px);
  font-size: 15px;
  color: var(--para-color);
  line-height: var(--para-line-height);
}
/* End Components */

/* Start Header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 9;
  transition: height var(--main-duration), background-color var(--main-duration);
}

.main-header.scrolled {
  height: 65px;
  background-color: var(--main-color);
}

.main-header .container {
  height: 100%;
  border-bottom: 1px solid #636364;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  transition: border-color var(--main-duration);
}

.main-header.scrolled .container {
  border-bottom-color: transparent;
}

.main-header.scrolled .logo-link:focus-visible {
  outline-color: white;
}

.main-header .nav-bar {
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header .nav-bar .nav-bar-trigger {
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: white;
  font-size: 26px;
  padding: 6px 8px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: color var(--main-duration), border-color var(--main-duration);
  outline: none;
}

.main-header.scrolled .nav-bar .nav-bar-trigger {
  border-color: transparent;
}

.main-header
  .nav-bar
  .nav-bar-trigger:is([data-state='open'], :focus-visible, :hover) {
  color: var(--main-color);
  border-color: var(--main-color);
}

.main-header.scrolled
  .nav-bar
  .nav-bar-trigger:is([data-state='open'], :focus-visible, :hover) {
  color: white;
  border-color: white;
}

.main-header .nav-bar .nav-bar-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--main-color);
  transform-origin: top center;
}

.main-header .nav-bar .nav-bar-menu.closed {
  display: none;
}

.main-header .nav-bar .nav-bar-menu[data-state='open'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  animation: animate-in 500ms;
}

.main-header .nav-bar .nav-bar-menu[data-state='closed'] {
  animation: animate-out 350ms;
}

.main-header .nav-bar .nav-bar-menu .nav-bar-link {
  border-bottom: 1px solid transparent;
  padding: 15px 25px;
  display: block;
  color: white;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: color var(--main-duration), border-color var(--main-duration);
  outline: none;
}

.main-header
  .nav-bar
  .nav-bar-menu
  .nav-bar-link:is(:hover, [data-state='active'], :focus-visible) {
  color: white;
  border-bottom-color: white;
}

@media (min-width: 768px) {
  .main-header .nav-bar .nav-bar-trigger {
    display: none;
  }

  .main-header .container .nav-bar .nav-bar-menu {
    position: static;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    animation: none;
  }

  .main-header .nav-bar .nav-bar-menu .nav-bar-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 1rem;
    font-size: 14px;
    font-weight: 600;
  }

  .main-header:not(.scrolled)
    .nav-bar
    .nav-bar-menu
    .nav-bar-link:is(:hover, [data-state='active'], :focus-visible) {
    color: var(--main-color);
    border-bottom-color: var(--main-color);
  }
}
/* End Header */

/* Start Home Section */
.home {
  --swiper-navigation-size: 30px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}

.home .swiper-slide {
  min-height: 100vh;
  min-height: 100svh;
  padding: 120px 0;
  display: flex;
  align-items: center;
  background-color: #1f2021;
}

.home :is(.swiper-button-prev, .swiper-button-next) {
  display: none;
}

.home .description {
  position: relative;
  color: white;
  background-color: var(--transparent-bg-color);
  padding: 2rem 1rem;
  text-align: center;
}

.home .description-content {
  width: min(100%, 600px);
  margin: 0 auto;
}

.home .description .main-title {
  margin-bottom: 16px;
  font-size: clamp(18px, 5vw, 32px);
  line-height: 1.75;
  text-transform: uppercase;
}

.home .description .main-description {
  color: #ffffff;
  font-size: 15px;
  line-height: var(--para-line-height);
}

@media (min-width: 768px) {
  .home.swiper {
    --swiper-navigation-sides-offset: 20px;
    --swiper-navigation-size: 30px;
  }

  .home :is(.swiper-button-prev, .swiper-button-next) {
    display: block;
  }
}

@media (min-width: 992px) {
  .home .description {
    max-width: 65%;
    text-align: left;
    padding: 2rem 2rem 2rem 6rem;
  }

  .home .description-content {
    margin-right: 0;
  }
}
/* End Home Section */

/* Start Services Section */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 400px), 1fr));
  gap: 3rem;
}

.services .services-content .service-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem 3rem;
}

.services .services-content .service-box .icon {
  font-size: 55px;
}

.services .services-content .service-box .text h3 {
  color: var(--main-color);
  margin-bottom: 1.8rem;
}

.services .services-content .service-box .text p {
  line-height: var(--para-line-height);
  color: var(--para-color);
  font-size: 15px;
}

@media (min-width: 768px) {
  .services .services-content .service-box {
    text-align: left;
    flex-direction: row;
  }

  .services .services-content .service-box .icon {
    position: relative;
    bottom: 6px;
  }
}
/* End Services Section */

/* Start Design Section */
.design {
  position: relative;
  height: 500px;
  background-color: #1f2021;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.design .design-images {
  display: none;
}

.design .design-features {
  background-color: var(--transparent-bg-color);
  color: white;
  padding: 2rem;
  width: 100%;
}

.design .design-features h2 {
  margin-bottom: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.design .design-features .features-list li {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.design .design-features .features-list li .icon {
  margin-right: 1rem;
  font-size: 24px;
}

@media (min-width: 992px) {
  .design {
    justify-content: flex-end;
  }

  .design .design-images {
    display: block;
  }

  .design .design-images :first-child {
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 1;
  }

  .design .design-images :last-child {
    position: absolute;
    bottom: 0;
    left: 20%;
    animation-delay: 0.5s;
  }

  .design .design-features {
    width: 50%;
  }
}
/* End Design Section */

/* Start Portfolio Section */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio .filter-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}

.portfolio .filter-actions li {
  padding: 10px 22px;
  -webkit-transition: background-color var(--main-duration),
    color var(--main-duration);
  -o-transition: background-color var(--main-duration),
    color var(--main-duration);
  transition: background-color var(--main-duration), color var(--main-duration);
  user-select: none;
  cursor: pointer;
}

.portfolio .filter-actions li:hover,
.portfolio .filter-actions li.mixitup-control-active {
  background-color: var(--main-color);
  color: white;
}

.portfolio .portfolio-items {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.portfolio .portfolio-items .box {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio-items .box:hover .caption {
  bottom: 0;
}

.portfolio .portfolio-items .box:hover img {
  -webkit-transform: scale(1.1) rotate(3deg);
  -ms-transform: scale(1.1) rotate(3deg);
  transform: scale(1.1) rotate(3deg);
}

.portfolio .portfolio-items .box img {
  -webkit-transition: var(--main-duration);
  -o-transition: var(--main-duration);
  transition: var(--main-duration);
}

.portfolio .portfolio-items .box .caption {
  width: 100%;
  background-color: white;
  padding: 1.25rem;
  position: absolute;
  bottom: -100px;
  -webkit-transition: bottom var(--main-duration);
  -o-transition: bottom var(--main-duration);
  transition: bottom var(--main-duration);
}

.portfolio .portfolio-items .box .caption h4 {
  margin-bottom: 0.625rem;
}

.portfolio .portfolio-items .box .caption p {
  color: var(--main-color);
}

.portfolio .more-link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  background-color: var(--main-color);
  margin: 1.8rem auto 0;
  padding: 1rem 1.2rem;
  text-transform: uppercase;
  transition: box-shadow var(--main-duration);
}

.portfolio .more-link:hover {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

@media (min-width: 567px) {
  .portfolio .portfolio-items .box {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .portfolio .portfolio-items .box {
    -ms-flex-preferred-size: calc(100% / 3);
    flex-basis: calc(100% / 3);
  }
}

@media (min-width: 1200px) {
  .portfolio .portfolio-items .box {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
}
/* End Portfolio Section */

/* Start Video Section */
.video {
  background-color: #1f2021;
  position: relative;
}

.video video {
  max-width: 100%;
}

.video .text {
  position: absolute;
  width: 100%;
  background-color: var(--transparent-bg-color);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  text-align: center;
  color: white;
  padding: 3rem;
}

.video .text h2 {
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.video .text p {
  margin-bottom: 2rem;
}

.video .text button {
  border: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
}
/* End Video Section */

/* Start About Section */
.about {
  padding-top: var(--section-padding);
}

.about .image-container {
  text-align: center;
}
/* End About Section */

/* Start Stats Section */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #1f2021;
  position: relative;
}

.stats .stats-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.stats .stats-content .box {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  background-color: var(--transparent-bg-color);
  color: white;
  padding: 3rem;
  text-align: center;
}

.stats .stats-content .box .icon {
  margin: auto;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2021;
  font-size: 22px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.stats .stats-content .box .number {
  font-size: 3rem;
  font-weight: bold;
  margin: 1.5rem 0;
}

.stats .stats-content .box p {
  font-size: 15px;
}

@media (min-width: 768px) {
  .stats .stats-content .box {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media (min-width: 992px) {
  .stats .stats-content .box {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
}
/* End Stats Section */

/* Start Skills Section */
.us {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.us .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.us .container .heading {
  text-align: center;
  margin-bottom: 3.5rem;
}

.us .container .heading h3 {
  margin: 0 0 1.8rem;
  font-size: 22px;
  text-transform: uppercase;
}

.us .container .heading p {
  color: var(--para-color);
  line-height: var(--para-line-height);
  font-size: 15px;
}

.us .testimonials .developer {
  margin-bottom: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2rem 3rem;
}

.us .testimonials .developer .avatar {
  flex-shrink: 0;
}

.us .testimonials .developer .avatar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.us .testimonials .developer .info {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
  font-size: 15px;
}

.us .testimonials .developer .name {
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 14px;
  text-align: right;
  color: var(--para-color);
}

.us .our-skills .progress-holder:not(:last-child) {
  margin-bottom: 3rem;
}

.us .our-skills .progress-holder h4 {
  text-transform: uppercase;
  margin-bottom: 0.625rem;
  font-weight: normal;
}

.us .our-skills .progress-holder h4 .percent {
  font-size: 13px;
  color: var(--main-color);
}

.us .our-skills .progress-holder .progress {
  height: 30px;
  background-color: #dedadc;
}

.us .our-skills .progress-holder .progress span {
  display: block;
  height: 100%;
  background-color: var(--main-color);
}

@media (min-width: 992px) {
  .us .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .us .container > div {
    width: 45%;
  }

  .us .testimonials .developer {
    flex-direction: row;
    text-align: left;
  }
}
/* End Skills Section */

/* Start Quote Section */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #1f2021;
  position: relative;
}

.quote blockquote {
  position: relative;
  text-align: center;
  color: white;
}

.quote blockquote .icon {
  font-size: 10px;
  position: relative;
  bottom: 14px;
}

.quote blockquote q {
  quotes: none;
  font-size: 1.875rem;
}

.quote blockquote span {
  display: block;
  margin-top: 1.5rem;
}
/* End Quote Section */

/* Start Pricing Section */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.pricing .plans {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
  gap: 1.875rem;
}

.pricing .plans .plan {
  background-color: #fcfcfc;
  text-align: center;
}

.pricing .plans .plan .head {
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  padding: 2.4rem 1.25rem;
}

.pricing .plans .plan .head h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}

.pricing .plans .plan .head .number {
  font-size: 3.5rem;
  font-weight: bold;
  position: relative;
}

.pricing .plans .plan .head .number::before {
  content: '$';
  font-size: 1.625rem;
  font-weight: normal;
  position: relative;
  bottom: 35px;
  right: 12px;
}

.pricing .plans .plan .head .number::after {
  content: '/Mo';
  font-size: 1.25rem;
  position: relative;
  left: 12px;
}

.pricing .plans .plan .features {
  border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .features li {
  position: relative;
  padding: 1.25rem;
}

.pricing .plans .plan .features li:not(:last-child):after {
  content: '';
  position: absolute;
  width: 60%;
  height: 1px;
  background-color: var(--main-color);
  bottom: 0;
  left: 20%;
}

.pricing .plans .plan .foot {
  padding: 2rem;
}

.pricing .plans .plan .foot a {
  display: block;
  border: 1px solid var(--main-color);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 1.25rem;
  color: black;
  transition: background-color var(--main-duration), color var(--main-duration);
}

.pricing .plans .plan .foot a:hover {
  background-color: var(--main-color);
  color: white;
}

.pricing .contact-text {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  line-height: var(--para-line-height);
}

.pricing .contact-link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--main-color);
  color: white;
  padding: 1rem 1.4rem;
  margin: 1.5rem auto 0;
  transition: box-shadow var(--main-duration);
}

.pricing .contact-link:hover {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

@media (min-width: 1200px) {
  .pricing .plans .plan:nth-child(2) {
    animation-delay: 0.2s;
  }

  .pricing .plans .plan:nth-child(3) {
    animation-delay: 0.4s;
  }

  .pricing .plans .plan:nth-child(4) {
    animation-delay: 0.6s;
  }
}
/* End Pricing Section */

/* Start Subscribe Section */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #1f2021;
  position: relative;
}

.subscribe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2.5rem;
  color: white;
}

.subscribe form {
  width: 500px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid white;
}

.subscribe form .icon {
  font-size: 22px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 20px;
}

.subscribe form input[type='email'] {
  padding: 1.25rem 1.25rem 1.25rem 4rem;
  background-color: transparent;
  border: none;
  caret-color: var(--main-color);
  color: white;
  width: calc(100% - 130px);
  outline: none;
}

.subscribe form input[type='email']::-webkit-input-placeholder {
  color: white;
}

.subscribe form input[type='email']::-moz-placeholder {
  color: white;
}

.subscribe form input[type='email']:-ms-input-placeholder {
  color: white;
}

.subscribe form input[type='email']::-ms-input-placeholder {
  color: white;
}

.subscribe form input[type='email']::placeholder {
  color: white;
}

.subscribe form input[type='submit'] {
  width: 130px;
  padding: 1.25rem;
  text-transform: uppercase;
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
}

.subscribe p {
  line-height: var(--para-line-height);
  font-size: 15px;
  text-align: center;
}

@media (min-width: 992px) {
  .subscribe .container {
    flex-direction: row;
  }

  .subscribe .container p {
    text-align: left;
  }
}
/* End Subscribe Section */

/* Start Contact Section */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.contact .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column-reverse;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 2.6rem;
}

.contact .contact-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 1.8rem;
}

.contact .contact-content form .main-input {
  padding: 1.25rem;
  border: 1px solid #ccc;
  caret-color: var(--main-color);
  -webkit-transition: border-color var(--main-duration);
  -o-transition: border-color var(--main-duration);
  transition: border-color var(--main-duration);
}

.contact .contact-content form .main-input:focus {
  outline: none;
  border-color: var(--main-color);
}

.contact .contact-content form textarea.main-input {
  height: 200px;
  max-height: 400px;
  resize: vertical;
}

.contact .contact-content form input[type='submit'] {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding: 1rem;
  background-color: var(--main-color);
  text-transform: uppercase;
  color: white;
  border: none;
  cursor: pointer;
}

.contact .contact-content .info {
  text-align: center;
}

.contact .contact-content .info .phone {
  margin-bottom: 2rem;
}

.contact .contact-content .info h4 {
  font-weight: normal;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
}

.contact .contact-content .info .phone a {
  display: block;
  color: var(--para-color);
  line-height: 1.8;
  font-size: 15px;
}

.contact .contact-content .info .address address {
  color: var(--para-color);
  line-height: var(--para-line-height);
  font-size: 15px;
}

@media (min-width: 768px) {
  .contact .contact-content form {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%;
  }

  .contact .contact-content {
    flex-direction: row;
  }

  .contact .contact-content .info {
    text-align: left;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }

  .contact .contact-content .info .phone {
    margin-bottom: 5rem;
  }
}
/* End Contact Section */

/* Start Footer Section */
.main-footer {
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  background-color: #1f2021;
  position: relative;
}

.main-footer .container {
  color: white;
  text-align: center;
}

.main-footer .logo {
  display: block;
  width: fit-content;
  margin: 0 auto 32px;
}

.main-footer .social-para {
  text-transform: uppercase;
  font-size: 1.375rem;
  padding: 0 1.25rem 1.25rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 1.5rem;
  border-bottom: 1px solid white;
}

.main-footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 32px;
}

.main-footer .socials .link {
  color: white;
  font-size: 1.125rem;
  -webkit-transition: color var(--main-duration);
  -o-transition: color var(--main-duration);
  transition: color var(--main-duration);
}

.main-footer .socials a[href*='facebook']:hover {
  color: #0777e8;
}

.main-footer .socials a[href*='twitter']:hover {
  color: #1d9bf0;
}

.main-footer .socials a[href*='./']:hover {
  color: var(--main-color);
}

.main-footer .socials a[href*='linkedin']:hover {
  color: #0a66c2;
}

.main-footer .info:last-child {
  margin-top: 32px;
}

.main-footer .info .link {
  color: var(--main-color);
  font-weight: bold;
}
/* End Footer Section */

/* Start Scroll To Top Button */
.scroll-to-top-button {
  position: fixed;
  right: 35px;
  bottom: 35px;
  border: none;
  background-color: var(--main-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
  transition: background-color var(--main-duration),
    opacity var(--main-duration), transform var(--main-duration),
    visibility var(--main-duration);
}

.scroll-to-top-button:hover {
  background-color: #16b7e4;
}

.scroll-to-top-button.show {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
/* End Scroll To Top Button */

/* Start Keyframes */
@keyframes animate-in {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 0;
  }
  60% {
    opacity: 1;
    -webkit-transform: scaleY(1.05);
    transform: scaleY(1.05);
  }
  80% {
    -webkit-transform: scaleY(0.95);
    transform: scaleY(0.95);
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes animate-out {
  100% {
    opacity: 0;
    -webkit-transform: scaleY(0.3);
    transform: scaleY(0.3);
  }
}
/* End Keyframes */
